<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=(local);Initial Catalog=AssignmentDatabase;Integrated Security=true" />
    <add key="GetAllCustomersSP" value="[TelephoneSystem].[uspGetAllCustomers]" />
    <add key="GetCustomerByIdSP" value="[TelephoneSystem].[uspGetCustomerById]" />
    <add key="AddCustomerSP" value="[TelephoneSystem].[uspAddCustomer]" />
    <add key="RecordBillPaymentForCustomerSP" value="[TelephoneSystem].[uspAddCustomerBillPayment]" />
    <add key="GetCustomerBillHistorySP" value="[TelephoneSystem].[uspGetCustomerBillHistory]" />
    <add key="UpdateCustomerSP" value="[TelephoneSystem].[uspUpdateCustomer]" />
    <add key="GetCustomersForEmployeeSP" value="[TelephoneSystem].[uspGetAllCustomersForEmployee]" />
    <add key="GetSummaryForEmployeesSP" value="[TelephoneSystem].[uspSummaryForEmployees]" />
    <add key="GetBonusForEmployeeSP" value="[TelephoneSystem].[uspGetBonusForEmployee]" />
    <add key="GetEmployeeByIDSP" value="[TelephoneSystem].[uspGetEmployeeByID]" />
    <add key="GetAllEmployeesSP" value="[TelephoneSystem].[uspGetAllEmployees]" />
    <add key="UserDisplayOptions" value="Welcome to the Telephone Billing System Console       Please enter the action to perform        1) Display All Telephone Customers        2) Display Customer By ID        3) Display Customer Billing History        4) Display All Telephone Company Employees        5) Display Employee By ID        6) Display Customers Of an Employee        7) Display Employee Bonus Details         8) Display Summary for Employees         9) Add a New Customer        10) Update Customer Name        11) Generate New Customer Bill        12) Record Customer Bill Payment        13) End Application       Please enter your choice : " />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>